nav {
  background-color: rgb(172, 151, 151);
  display: flex;
  align-items: last baseline;
  justify-content: space-between;
  font-size: 15px; 
  font-weight: bold;
  font-family: 'Encode Sans Semi Expanded', sans-serif;
  height: 100%;
  position: fixed;
  z-index: 1000;
  letter-spacing: 1px;
  writing-mode: vertical-rl;
  text-orientation: upright;
}
.link {
  padding: 5px 40px;
  text-decoration: none;
  color: black;
  text-transform: uppercase;
}
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
}
.sale {
  font-size: 40px;
  position: absolute;
  color: white;
  background-color: rgb(210, 194, 144);
  letter-spacing: 50px;
  text-transform: uppercase;
}
.box {
  display: flex;
  flex-direction: row-reverse;
  }
.bali {
  align-items: center;
  justify-content: center;
  position: absolute;
  letter-spacing: 100px;
  text-transform: uppercase;
  color: #1c120e;
  font-size: 65px;
}
.bali-picture {
  width: 100%;
  height: auto;
}
.products {
  display: flex;
  flex-wrap: wrap;
}
.about{
  display: flex;
  flex-direction: column; 
  position: relative;
}
.contact_us {
  display: flex;
  flex-direction: column; 
  position: relative; 
}
.beautiful_paradise{
  width: 100%;
  height: auto;
  }
.box_container_contact_us{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 500px;
  height: 300px;
  padding: 30px;
  margin: auto;
  margin-left: 950px;
  margin-top: 300px;
  position: absolute;
  background-color: rgb(225, 206, 181); 
}
.box_container_about {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 600px;
  height: 500px;
  padding: 30px;
  margin: auto;
  margin-left: 550px;
  margin-top: 100px;
  position: absolute;
  background-color: rgb(225, 206, 181);
}
.product-card{
  margin-left: 50px;
  padding: 2%;
  flex-grow: 1;
  flex-basis: 15%;
}

body {
background-color:  rgb(225, 206, 181); 
}



.cont {
  display: flex;
  justify-content: center;
  }

.back {
  background-color: #f4eddd; 
  padding: 15px;
  margin-left: 20px;
  margin-right: 20px;
  font-family: 'Encode Sans Semi Expanded', sans-serif;
}
.home{
  display: flex;
  justify-content: flex-end;
  }

.change {
  background-color: black;
  color: white;
  padding: 10px;
  border: none;
  font-family: 'Encode Sans Semi Expanded', sans-serif;
  }

h3, h4 {
  font-family: 'Encode Sans Semi Expanded', sans-serif;
  }

button{
  margin: 10px;
  }
h1 {
  font-size: 35px;
}